jwt:
  secret: 984hg493gh0439rthr0429uruj2309yh937gc763fe87t3f89723gf
  lifetime: 30m
spring:
  main:
    allow-circular-references: true
  datasource:
    url: jdbc:postgresql://booksclub-db:5432/booksclub_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    generate-ddl: false
  flyway:
    baseline-on-migrate: true
    enabled: true
    locations: classpath:db/migration
    baseline-version: 1
  kafka:
    producer:
      bootstrap-servers: kafka-1:9092,kafka-2:9094,kafka-3:9096
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all # ждем acknowlegment от всех реплик (в нашем случае 3)
      retries: 10 # 10 раз попробовать повторить получить ack
      properties:
        retry:
          backoff:
            ms: 1000 # интервал повторов
        delivery:
          timout:
            ms: 10000
        linger:
          ms: 0 # батчей 0. каждое сообщение шлём по одиночке
        request:
          timeout:
            ms: 5000 # время ожидания одного запроса
        enable:
          idempotence: true
logging:
  level:
    org:
      flywaydb: DEBUG
      springframework:
        jdbc: DEBUG
server:
  port: 8080